@import 'tailwindcss';

:root {
	/* --background: #ffffff;
  --foreground: #171717; */
}

@theme inline {
	--font-sans: var(--font-montserrat);
	--breakpoint-450px: 450px;
	--shadow-thick: 0 30px 50px 0 rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
	:root {
		/* --background: #0a0a0a;
    --foreground: #ededed; */
	}
}

body {
	background-color: #ffffff;
	color: #000000;
	font-family: var(--font-montserrat), sans-serif;
}

.min-h-screen-fix {
	min-height: 100vh;

	min-height: calc(var(--vh, 1vh) * 100);
}

@layer base {
	/* Chrome, Safari, Edge, Opera */
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	/* Firefox */
	input[type='number'] {
		-moz-appearance: textfield;
	}
}
